.header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90px;

    &__container {

        &__row {
            display: flex;
            justify-content: center;
            align-items: center;

            &__logo {
                font-size: 35px;
                font-weight: bold;
                line-height: 1.5;
            }
        }
    }
}